header {
    width: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    padding: 1rem;
    background-color: rgba(86, 85, 85, 0.9);
    border-radius: 5px;
    p {
        color:azure;
    }
    button {
        margin-left: 1rem;
    }
}

main {
    width: 80vw;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}