#root {
  max-width: 1280px;
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;
}

h1, h2{
  color:azure;
}

/* .center {
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
} */

.login-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 5px;
  label {
    color:black;
  }
}

form {
  margin-bottom: 10px;
}

.login-btn {
  border-radius: 2px;
  width: 100%;
  margin-left: 0;
  height: 1.5rem;
  font-size: 0.9em;
}

/* .toggle {
  height: 1.5em;
  font-size: small;
} */

.login {
  display: flex;
  flex-direction: column;
  justify-self: center;
  background-color: rgba(121, 121, 121, 0.8);
  padding: 1.5rem;
  border-radius: 5px;
  text-align: left;
}

.first-content {
  text-align: center;
  display:flex;
  flex-direction: column;
  /* justify-content: center; */
}

body {
  background-image: url('./assets/allsvenskan_background.jpeg');
  background-size: cover;
}
/* table {
  justify-self: center;
} */

/* table td {
  border-style: solid;
  border-color: black;
  border: 1px;
  background-color: white;
} */
