#root {
  width: 100vw;
  margin: 0 auto;
  text-align: center;
}

/* h1, h2{
  color:rgb(158, 215, 155);
} */

.login-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url('./assets/allsvenskan_background.jpeg');
  background-size: cover;
}

.input-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 5px;
  :is(label) {
    color:black;
  }
}

button {
  height: 1.75rem;
  /* box-shadow: 10px; */
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
}

form {
  margin-bottom: 10px;
}

.login-btn {
  border-radius: 2px;
  width: 100%;
  margin-left: 0;
  height: 1.5rem;
  font-size: 0.9em;
}

.button-container {
  margin-top: 10px;
}

/* .toggle {
  height: 1.5em;
  font-size: small;
} */

.login {
  display: flex;
  flex-direction: column;
  justify-self: center;
  background-color: rgba(121, 121, 121, 0.8);
  padding: 1.5rem;
  border-radius: 5px;
  text-align: left;
}

.first-content {
  text-align: center;
  display:flex;
  flex-direction: column;
}